@use '../base/base' as *;

.btn {
  border: none;
  outline: none;
  border-radius: $btn-radius;
  padding: 1rem 0;
  font-weight: 700;
  cursor: pointer;

  &--tip {
    color: $white;
    background-color: $secondary;

    &:focus {
      outline: 3px solid $accent;
      border-radius: $btn-radius;
    }
  }

  &--reset {
    text-transform: uppercase;
    width: 100%;
    background-color: $accent;
    margin-top: 4rem;
    transition: ease-in 0.3s;

    @media only screen and (min-width: $bp-desktop) {
      margin-top: 0;
    }

    &:hover {
      background-color: $active;
    }

    &:focus {
      outline: 3px solid $active;
      border-radius: $btn-radius;
    }
  }
}

input[type='radio'] {
  appearance: none;
}

// tip btn actuve class

.btn--tip.btn--active {
  color: $secondary;
  background-color: $active;
}
