// Colors

$primary: hsl(185, 41%, 84%);
$secondary: hsl(183, 100%, 15%);
$accent: hsl(172, 67%, 45%);
$active: #92dfd5;
$white: hsl(0, 0%, 100%);
$red: #f93943;

// Neutral

$dark-grayish-cyan: hsl(184, 14%, 56%);
$light-grayish-cyan: hsl(189, 41%, 97%);

// Style

$btn-radius: 0.4rem;
$radius: 2rem;
$padding: 3rem;

// Responsive breakpoints

// $bp-large-desktop: 68.75em; // 1100px
$bp-desktop: 56.25em; // 900px
// $bp-tablet: 37.5em; // 600px

html {
  font-size: 50%;

  //   @media only screen and (min-width: $bp-tablet) {
  //     font-size: 56.25%;
  //   }

  @media only screen and (min-width: $bp-desktop) {
    font-size: 62.5%;
  }
}

body {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 1px;
  color: rgba($secondary, 0.75);
  background-color: $primary;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media only screen and (min-width: $bp-desktop) {
    font-size: 2rem;
  }
}

.h1 {
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.attribution {
  font-size: 1.4rem;
  margin: 2rem 0;
  text-align: center;

  @media only screen and (min-width: $bp-desktop) {
    margin: 0;
    margin-top: 5rem;
  }

  &__link {
    text-decoration: none;
    color: $accent;

    &:hover {
      text-decoration: underline;
    }
  }
}
